<!-- *Ejemplo de estrategia OnPush para ChangeDetection -->
<!--<app-on-push></app-on-push>-->

<!-- *Ejemplo de uso de metodo detach() -->
<!--<app-detach>  </app-detach> -->

<!--Ejemplo de uso metodo detach() y reattach()-->
<!--<app-reattach [enVivo]="live"></app-reattach>
<h5>
  ¿Mostrar precio de Bitcoin en vivo?
</h5>
<input type="checkbox" [(ngModel)]="live"/> -->

<!--Ejemplo de uso metodo AngularZone (ngZone)-->
<!--<app-ng-zone></app-ng-zone> -->

<!--Ejemplo de uso de PIPE asincrono de Angular-->
<app-async-pipe [items$]="items$"></app-async-pipe>

<button (click)="addItem()">
  Añadir nuevo Item a la lista
</button>
